{% extends 'padre.html' %}

{% load static %}

{% block contenidoQueCambia %}
  
  <h1>Lista de Cursos</h1>

  <ul>
    {% for curso in cursos %}
      <li>
        <a href="{% url 'DetalleCursos' curso.id %}">
          {{ curso }}
        </a>
      </li>
      <div style="display: flex; column-gap: 5px;">
        <button>
          <a href="{% url 'EliminaCursos' curso.id %}">Eliminar</a>
        </button>
        <button>
          <a href="{% url 'ActualizaCursos' curso.id %}">Editar</a>
        </button>
      </div>
    {% endfor %}
  </ul>

  {% comment %} <a href="{% url 'CreaProfesor' %}">Crear Profesor</a> {% endcomment %}

{% endblock contenidoQueCambia %}
  
