<!-- Navigation-->
<nav class="navbar navbar-light bg-light static-top">
  <div class="container">
      <div class="mi-button">
        <a class="navbar-brand" href="{% url 'Inicio' %}">Inicio</a>
      </div>
      <a class="navbar-brand" href="{% url 'ListaProfesores' %}">Profesores</a>
      <a class="navbar-brand" href="{% url 'ListaCursos' %}">Cursos</a>
      <a class="navbar-brand" href="{% url 'Estudiantes' %}">Estudiantes</a>
      <a class="navbar-brand" href="{% url 'Entregables' %}">Entregables</a>
      
      {% if user.is_authenticated %}    
        {% if url %}
          <img height="40px" src="{{url}}" alt="avatar">
        {% endif %}
        <p>Bienvenido {{user.username}}</p>
        <a class="btn btn-primary" href="{% url 'Logout' %}">LOGOUT</a>
      {% else %}
        <a class="btn btn-primary" href="{% url 'Login' %}">LOGIN</a>
      {% endif %}
        
  </div>
</nav>